/* You can add global styles to this file, and also import other style files */

/* The CSS code `html, body { height: 100%; } body { margin: 0; font-family: Roboto, "Helvetica Neue",
sans-serif; }` is setting styles for the HTML and body elements in a web page. */
html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }
