<!-- ABOUT PAGE HERO SECTION -->
<!-- IMAGE WITH OVERLAY -->
<!-- HEADING TEXT -->
<!-- SUBHEADING TEXT -->
<div class="about">
  <img [src]="imagePath" alt="Jumbo Background" class="about__image" />
  <div class="about__overlay"></div>
  <div class="about__content">
    <h1 class="about__content-heading">
      Saving Animal Lives, One Paw at a Time
    </h1>
    <p class="about__content-text">
      Join Us in Making Angeles City a Safer Place for All Animals.
    </p>
    <div class="about-buttons">
      <button class="btn home__shared-buttons" (click)="scrollToWhatWeDo()">
        Our Work
      </button>
      <button
        class="btn home__shared-buttons"
        (click)="scrollToMissionVision()"
      >
        Our Goals
      </button>
    </div>
  </div>
</div>

<!-- MAIN SECTION -->
<div class="about-main-div">
  <!-- WHO WE ARE -->
  <!-- HEADING TEXT -->
  <!-- TEXT CONTENT -->
  <div class="about__who">
    <h2 class="about__who-heading">Who We Are</h2>
    <p class="about__who-text">
      Pawtect is dedicated to protecting and improving the lives of stray,
      neglected, and rescued animals in Angeles City. Our mission is to bridge
      the gap between these vulnerable animals and compassionate individuals
      willing to adopt, support, and advocate for their welfare. Through a
      digital platform, we aim to increase adoption rates, provide resources for
      responsible pet ownership, and foster a strong community of animal
      advocates. By leveraging technology, education, and community engagement,
      Pawtect strives to create a future where every animal receives the care,
      love, and respect it deserves.
    </p>
  </div>

  <!-- WHAT WE DO -->
  <!-- HEADING TEXT -->
  <!-- CARDS WITH IMAGES AND TEXT -->
  <div class="about__do" id="what-we-do">
    <h2 class="about__do-heading">What We Do</h2>
    <div class="about__do-card1">
      <h3 class="about__do-card1-heading">Animal Rescue and Rehabilitation</h3>
      <img [src]="card1" alt="Jumbo Background" class="about__do-image" />
      <p class="about__do-card1-text">
        Supporting shelters and providing aid to animals in need.
      </p>
    </div>

    <div class="about__do-card2">
      <h3 class="about__do-card2-heading">Adoption & Rehoming</h3>
      <img [src]="card2" alt="Jumbo Background" class="about__do-image" />
      <p class="about__do-card2-text">
        Connecting rescued animals with loving families.
      </p>
    </div>

    <div class="about__do-card3">
      <h3 class="about__do-card3-heading">Community Education & Awareness</h3>
      <img [src]="card3" alt="Jumbo Background" class="about__do-image" />
      <p class="about__do-card3-text">
        Promoting responsible pet ownership and advocacy efforts.
      </p>
    </div>
  </div>

  <!-- OUR GOALS & ADVOCACY -->
  <!-- HEADING TEXT -->
  <!-- ICONS AND TEXT -->
  <h2 id="mission-vision" class="about__goals-container-header">
    Our Goals & Advocacy
  </h2>
  <div class="about__goals-container">
    <div class="about__goals">
      <div class="about__goals-icon-text">
        <p class="about__goals-icon"><i class="fas fa-bullseye"></i></p>
        <h2 class="about__goals-subtext">Mission</h2>
      </div>
      <p class="about__goals-text">
        Our mission is to protect and improve the lives of animals through
        rescue, rehabilitation, and community engagement, ensuring every animal
        receives the care and love they deserve.
      </p>
      <hr class="about__goals-line" />
    </div>

    <hr class="about__goals-divider" />

    <div class="about__goals">
      <div class="about__goals-icon-text">
        <p class="about__goals-icon"><i class="fas fa-eye"></i></p>
        <h2 class="about__goals-subtext">Vision</h2>
      </div>
      <p class="about__goals-text">
        Our vision is a world where every animal is safe, loved, and respected,
        supported by a community dedicated to their welfare and protection. A
        world where every stray finds a home.
      </p>
      <hr class="about__goals-line" />
    </div>
  </div>
  <hr class="about__goals-hr" />

  <!-- ONGOING PROJECTS -->
  <!-- ICONS AND TEXT -->
  <div class="about__goals-proj">
    <div class="about__goals-proj-icon-text">
      <p class="about__goals-proj-icon"><i class="fas fa-clock"></i></p>
      <h2 class="about__goals-proj-subtext">Ongoing Projects</h2>
    </div>
    <div class="about__goals-proj-texts">
      <p class="about__goals-proj-text">
        <span class="about__goals-bold">Donation & Sponsorship Program</span> –
        A secure online system for individuals to provide financial or material
        support for shelters and rescued animals.
      </p>
      <p class="about__goals-proj-text">
        <span class="about__goals-bold">Lost and Found Pet Registry</span> – A
        secure online system for individuals to provide financial or material
      </p>
    </div>
    <p class="about__goals-proj-awe">
      <span class="about__goals-bold"
        >Animal Welfare Education Initiative
      </span>
      – Blogs, social media campaigns, and interactive workshops to raise
      awareness on responsible pet ownership.
    </p>
    <hr class="about__goals-proj-line" />
  </div>

  <!-- OUR PARTNERS -->
  <!-- HEADING TEXT -->
  <!-- GRID OF PARTNER LOGOS -->
  <div class="about__partners">
    <h2 class="about__goals-subtext">Our Partners</h2>
    <div class="about__partners-grid">
      <img [src]="grid1" alt="Partner 1" />
      <img [src]="grid2" alt="Partner 2" />
      <img [src]="grid3" alt="Partner 3" />
      <img [src]="grid4" alt="Partner 4" />
    </div>
    <hr class="about__goals-line" />
  </div>
  <hr class="about__partners-hr" />

  <!-- JOIN THE CAUSE -->
  <!-- HEADING TEXT -->
  <!-- TEXT CONTENT -->
  <!-- BUTTONS = TO VOLUNTEER, DONATE, SEE ADOPTABLE PETS -->
  <!-- IMAGE CONTENT -->
  <div class="about__cause">
    <div class="about__cause-text">
      <h2 class="about__cause-subtext">Join the Cause</h2>
      <p class="about__cause-text">
        Be a Pawtector! Volunteer, adopt, or donate today and help us create a
        better future for animals in need. Every action counts in giving them a
        second chance at life.
      </p>
      <div class="about__cta">
        <a
          routerLink="/pawtector"
          class="about__cta-btn"
          (click)="scrollToTop()"
          >Volunteer</a
        >
        <a
          routerLink="/pawtector"
          class="about__cta-btn"
          (click)="scrollToTop()"
          >Donate</a
        >
        <a routerLink="/our-pack" class="about__cta-btn" (click)="scrollToTop()"
          >Our Pack</a
        >
      </div>
    </div>
    <div class="about__cause-image">
      <img [src]="cause" alt="Cause" />
    </div>
  </div>
</div>
