<footer class="footer">
  <!-- BANNER SECTION -->
  <div class="footer__banner">
    <h2>Be Part of the Change – Help Us Save More Lives!</h2>
  </div>

  <div class="footer__container">
    <!-- QUICK LINKS -->
    <div class="footer__links">
      <h3>Pawtection Links</h3>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/our-pack">Our Pack</a></li>
        <li><a routerLink="/pawtector">Be A Pawtector</a></li>
      </ul>
    </div>

    <!-- ABOUT SECTION -->
    <div class="footer__about">
      <a routerLink="/">
        <img
          src="assets/images/pawtect-logo.svg"
          alt="Logo of Pawtect"
          class="footer__logo"
        />
      </a>
      <p>
        <strong>Pawtect</strong> is a non-profit organization that aims to
        provide shelter and care for stray animals. We believe that every animal
        deserves a loving home and a chance to live a happy life.
      </p>
    </div>

    <!-- CONTACT INFO -->
    <div class="footer__contact">
      <h3>Talk to the Pack</h3>
      <ul>
        <li>
          <i class="fas fa-map-marker-alt"></i> Angeles City, Pampanga,
          Philippines
        </li>
        <li><i class="fas fa-phone-alt"></i> (+63) 912-345-6789</li>
        <li>
          <i class="fas fa-envelope"></i>
          <a href="mailto:contact@pawtect.org" target="_blank"
            >contact&#64;pawtect.org</a
          >
        </li>
      </ul>
    </div>
  </div>

  <!-- COPYRIGHT & TERMS -->
  <div class="footer__bottom">
    <p>© 2025 Pawtect. All Rights Reserved.</p>
  </div>
</footer>
